:root {
   --text-blue: hsl(238, 29%, 16%);
   --text-red:  hsl(14, 88%, 65%);
   --background-violet: hsl(273, 75%, 66%);
   --background-blue: hsl(240, 73%, 65%);
   --text-blue2: hsl(240, 13%, 26%);
   --text-blue3: hsl(240, 6%, 50%);
   --divider: hsl(240, 5%, 91%);
}

@keyframes faqs {
    0% {
        display: block;
        transform: translate(0px, -30px);
        opacity: 0;
    } 
    100% {
        display: block;
        opacity: 1;
    }

  }

  @keyframes arrow-up {
    0% {
        transform: rotate(0deg)
    }
    
    100% {
        transform: rotate(-180deg)
    }
  }

* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;

}

html {
    background-image: linear-gradient(var(--background-violet), var(--background-blue) );
    min-height: 100%;
    min-width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: var(--text-blue2)
}



.pattern-desktop {
    display: none;
}

.main-image-desktop {
    display: none;
}

.box-image {
    display: none;
}

main {
    display: block;
    margin: auto;
    background-color: white;
    border: 3em black;
    border-radius: 3rem;
    width: 340px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 175px;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
    
}


.main-image-mobile {
    display:block;
    margin: auto;
    z-index: 2;
    width: 250px;
    position: absolute;
    top: 65px;
    left: 40px;
    right: 40px;
    
}

.shadow-mobile {
    display: block;
    margin: auto;
    z-index: 1;
    
    width: 250px;
}



.faq-container {
    padding-left: 40px;
    padding-bottom: 30px;
    padding-right: 30px;
    z-index: -3;
    
}
h1 {
    margin: auto;
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--text-blue);
}
.question-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 9px;
    z-index: -1;
    cursor: pointer;
}

.question-container:hover {
    color: var(--text-red);
    cursor: pointer;
}
.question {
    cursor: pointer;
    padding-right: 5px;
}
.answer {
    display: none;
    z-index: -2;
    color: var(--text-blue3);
}


 .arrow {
   width: 10px;
   height: 8px;
   align-self: center;
   
 }

 .arrow:hover {
    animation: arrow-up;
    animation-duration: 1s;

 }

.divider {
    height: 2px;
    border: none;
    background-color: var(--divider);
}

.arrow-up {
    animation: arrow-up; 
    animation-duration: 1s;
    transform: rotate(-180deg);
}

.question-container:active {
    font-weight: 900;
    color: var(--text-red);
}

.question-selected {
    font-weight: 900;
    color: var(--text-blue);
}

@media screen and (min-width: 800px) {
   
    .main-image-mobile {
        display: none;
    }

    .shadow-mobile {
        display: none;
    }
   
    
    main {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        background-color: white;
        border: 3em black;
        border-radius: 3rem;
        width: 850px;
        font-size: 15px;
        margin: 150px;
        position: sticky;
        right: 200px;
        left: 200px;
        padding-bottom: 40px;
        
        
    }

    .box-image {
        display: block;
        width: 175px;
        height: 175px;
        z-index: 3;
        position: absolute;
        left: -105px;
        top: 170px;
    }

    .main-image-desktop {
        display: block;
        margin: auto;
        position: absolute;
        left: -80px;
        top: 40px;
        z-index: 2;
        width: 450px;
        
        align-self: center;
    }
    
    .pattern-desktop {
        display: block;
        margin: auto;
        position: absolute;
        left: -100px;
        z-index: 1;
        width: 450px;
        
    }
    
    
    h1 {
        margin: auto;
        align-self:flex-start;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 200px;
    }
    
    
    
    .faq-container {
        display: flex;
        flex-flow: column nowrap;
        padding-left: 450px;
        padding-right: 80px;
        z-index: 3;
        margin-left: 0;
        justify-content: center;
        
        
        
        
    }
    
    
    .question-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content:space-between;
        margin-bottom: 9px;
        z-index: 3;
        cursor: pointer;
        font-size: .90em;
        
    }

    .question {
        padding-right: 30px;
    }
    


    .answer {
        display: none;
        z-index: 4;
        font-size: .9em;
    }
    
    
     .arrow {
       width: 10px;
       height: 8px;
       align-self: center;
       
     }
    

    
    .divider {
        
        height: 2px;
        border: none;
        background-color: var(--divider);
        
        
        
    }

    .attribution {
        
        position: sticky;
        top: 700px;
    }
    

    
}



